In [ ]:
# f=open(file='ex.txt',mode='r') #open class
# content=f.read()
# count=0
# for char in content:
#     if char==" ":
#         pass
#     if char=="\n":
#         pass
#     else:
#         count+=1

# print(count) 
# print(content)
# f.close()
# type(content)

10

In [ ]:
# frequency of a word in the file
# aDict={}
# with open(file='ex.txt',mode='r') as f:
#     content=f.read().lower()
#     words=content.split()
#     for word in words:
#         if word not in aDict:
#             aDict[word]=1
#         else:
#             aDict[word]+=1
# print(aDict)

{'my': 1, 'name': 1, 'is': 1}

In [ ]:
# with open(file='ex.txt',mode='r') as f:
#    content=f.readlines()
#    for line in content:
#       print(line)
#    print(content)

My name





is
['My name \n', '\n', '\n', 'is']

In [ ]:
#write to a text file
# with open(file='ex.txt',mode='w') as f:
#    input_txt=input("Enter your text")
#    content=f.write(input_txt)
#    print(content)

4

In [ ]:
# with open(file='ex.txt',mode='w') as f:
#    while (True):
#     input_txt=input("Enter your text")
#     if input_txt=='Q' or input_txt=='q':
#         break

#     f.write(input_txt)
#     f.write("\n")

In [ ]:
#using csv module
# import csv
# with open(file="filecsv.csv",mode='r') as f:
#     content=csv.reader(f)
#     for row in content:
#         print(row)

['name', 'address']
['pramod', 'Dharan']
['ram', 'Ayodhya']
['Shyam', 'Banaras']

In [ ]:
import csv
# with open(file="filecsv.csv",mode='r') as f:
#     content=csv.DictReader(f)
#     for row in content:
#         print(row)
#         print(row["name"]," ", row["address"])

{'name': 'pramod', 'address': 'Dharan'}
{'name': 'ram', 'address': 'Ayodhya'}
{'name': 'Shyam', 'address': 'Banaras'}

In [ ]:
# data=[["name","address","age"],
#       ["Ram","Aayodhya","20"],
#       ["HAri","Banaras","21"],
#       ["Shyam","Srilanka","19"]]
# with open(file="file.csv",mode='w',newline="") as f:
#     writer=csv.writer(f)
#     writer.writerows(data)

In [ ]:
# data=[
#  {'name': 'pramod', 'address': 'Dharan'},
#     {'name': 'ram', 'address': 'Ayodhya'},
#     {'name': 'Shyam', 'address': 'Banaras'}
# ]
# with open(file="new.csv",mode='w',newline="") as f:
#     writer=csv.DictWriter(f,fieldnames=['name','address'])
#     writer.writeheader()
#     writer.writerows(data)

In [57]:
import pandas as pd
df=pd.read_csv("new.csv")
df.tail()

     name  address
0  pramod   Dharan
1     ram  Ayodhya
2   Shyam  Banaras

In [58]:
type(df)

pandas.core.frame.DataFrame

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   address  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes

In [62]:
df['address']

0     Dharan
1    Ayodhya
2    Banaras
Name: address, dtype: object

In [64]:
df['Provience']=["koshi","UP","SudurPacchim"]
df

     name  address     Provience
0  pramod   Dharan         koshi
1     ram  Ayodhya            UP
2   Shyam  Banaras  SudurPacchim

In [ ]:
#to write in the file
df.to_csv("new.csv",index=False)

In [ ]:
df=pd.DataFrame([
    {"Roll":1,"Name":"Ram","Eng":80,"Math":81,"Scienec":90},
    {"Roll":2,"Name":"Shyam","Eng":79,"Math":80,"Scienec":85}
])
df.to_csv("classwork.csv",index=False)


df["Total"]=[df["eng"]+df[Science]"",df[Math]]
df.to_csv("classwork.csv",index=False)